body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--background);
  overflow-y: auto; 
}

:root {
  --background: #fcfcfc;  
  --background1: #0d1b2a; 
  --sider: #1b263b;      
  --accent: #415a77;    
  --block-bg: #778da9;   
  --light-bg: #e0e1dd;    
  --text-dark: #0d1b2a;  
  --text-light: #e0e1dd;   
}

.contenedor_main {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px); 
  font-size: 2rem;
  flex: 1;
  padding: 20px;
  box-sizing: border-box; 
}
